# Supabase
VITE_SUPABASE_URL=paste_url_supabase_anda_disini
VITE_SUPABASE_KEY=paste_anon_key_anda_disini

# Backend API
VITE_API_URL=http://localhost:8000

# Map tiles (OpenFreeMap)
VITE_MAP_STYLE=https://tiles.openfreemap.org/styles/liberty
